{% extends 'base.html' %}

{% block head %}
<title>To-Do Manager</title>
{% endblock %}

{% block body %}
<div style="text-align: center;">
    <h1 style="text-align: center;">Update Task</h1>
    <div class="container" style="display: inline-block; text-align: left;">
        

        <div class="form">
            <form action="/update/{{task.id}}" method="POST">
                <input type="text" name="content" id="content" value="{{task.content}}">
                <input type="submit" value="Update">
            </form>
        </div>
    </div>
</div>
{% endblock %}
